{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}TaskManager - Kirjaudu{% endblock %}

{% block page_content %}
<div class="row justify-content-center align-items-center"> 
    <div class="col">
        <h1>Kirjaudu sisään</h1>
        {{ wtf.render_form(form, extra_classes='needs-validation', novalidate=True) }}
        <br>
        <p>Unohditko salasanasi? <a href="{{ url_for('auth.password_reset_request') }}">Klikkaa tästä</a>.
            <br>Uusi käyttäjä? <a href="{{ url_for('auth.register') }}">Rekisteröidy tästä</a>.
        </p>
    </div>
</div>
{% endblock %}