{% extends "base_dashboard.html" %}

{% block title %}TaskManager - Vahvista tilisi{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Tervetuloa, {{ current_user.username }}!
    </h1>
    <h3>Et ole vielä vahvistanut tiliäsi.</h3>
    <p>
        Ennen kuin pääset luomaan listoja tälle sivustolle, sinun on vahvistettava tilisi.
        Tarkista postilaatikkosi, sinun olisi pitänyt saada sähköpostiviesti, jossa on vahvistuslinkki.
    </p>
    <p>
        Tarvitsetko uuden vahvistusviestin?
        <a href="{{ url_for('auth.resend_confirmation') }}">Klikkaa tästä.</a>
    </p>
</div>
{% endblock %}
