{% extends "base_dashboard.html" %}

{% block title %}Tehtävälistat{% endblock %}

{% block page_content %}
    <h1>Tehtävälistat</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus tincidunt ex aliquet interdum.
        Aenean imperdiet dolor eros, non pretium justo consequat a. Sed laoreet nisl eu sem condimentum, ut lacinia
        ligula condimentum. Duis ac vehicula felis, eu placerat tellus. Vestibulum lobortis ligula lorem, a egestas diam
        scelerisque at. Quisque malesuada, justo et hendrerit tristique, mauris metus commodo felis, eu dignissim metus
        nisi vel ex. Mauris accumsan ex nulla, vitae consequat elit convallis nec. </p>
{% endblock %}